<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>직원 목록</h3>

<h4>이 달의 사원 : {{ monthly_emp }} 사원</h4>
<h4><a href="{% url 'pizzaEmpAdd' %}">새로운 사원 추가하러 가기..</a></h4>


<table border="1">
    <tr>
        <th>이름</th>
        <th>연봉</th>
        <th>전화번호</th>
        <th></th>
    </tr>
{% for employee in employees %}
    <tr>
        <td>{{ employee }}</td>
        <td>{{ employee.salary }}</td>
        <td>{{ employee.tel }}</td>
        <td>
        <form action="{% url 'pizzaEmpDelete' %}" method="POST"> {% csrf_token %}
            <input type="submit" value="삭제">
            <input type="hidden" value="{{ employee.id }}" name="id">
        </form>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="3">사원 테이블이 비어있습니다.</td>
    </tr>
{% endfor %}
</table>


<hr>
<h5>월급이 5천원 이하인 사람들</h5>
<ul>
{% for employee in lt5000 %}
    <li>{{ employee }}</li>
{% empty %}
    <li>없습니다.</li>
{% endfor %}
</ul>

<hr>
<h5>월급이 1000원 이상 9000원 이하인 사원들</h5>
<ul>
{% for employee in range %}
    <li>{{ employee }}</li>
{% empty %}
    <li>없습니다.</li>
{% endfor %}
</ul>



</body>
</html>